#ytcardsext_cards-yt-btn {
    opacity: .9;
}
#ytcardsext_cards-yt-btn:hover {
    opacity: 1;
}
#ytcardsext_cards-yt-btn.disabled {
    opacity: .65;
}
#ytcardsext_cards-yt-btn.disabled:hover {
    opacity: .7;
}